/*CSS FOR WEB*/
body{
	background-color: #333;	
	height: auto;
	margin-left:5%;
	margin-right:5%;
	background: linear-gradient(rgba(77, 77, 77, 0.3), #ec857d, #ea954f, #dbdb74, #73536b ); /* Standard syntax (must be last) */
	background-attachment: scroll;
}


/*DIVS*/
.container{
	background-color: #FFFFFF;
	border-radius: 25px;
	padding: 20px;
	margin-bottom: 25px;
}

.container2 {
	width: 90%vw;
	height: 100vh;
	background-color: #FFFFFF;
	border-radius: 25px;
	padding: 20px;
	margin-left:25px;
	margin-right:25px;
	margin-bottom: 25px;
}


#grad1 {
    height: 200px;
    background: #fff; /* For browsers that do not support gradients */
}

.navBar{
	background-color:rgb(152,152,152);
}

.footer{
	background-color:#333;
}

/*STYLE*/
.center{
	text-align: center;
}

/*JUSTIFY TEXT*/
.just{
	text-align: justify;
}

/*LINKS*/
a:link{
	color:#333;
}

a:visted{
	color:rgb(0,0,0);
}

a:hover{
	color:#dbdb74;
	text-decoration: none;
	font-weight: bold;

}

a:active{
	color:rgb(200,200,200);
}


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #FFF;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #dbdb74;
  border: .05rem solid #fff;
}


/*TOP FUNCTION*/
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #73536b;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }
  
  #myBtn:hover {
	background-color: #555;
  }


  @media screen and (max-width: 570px) {
	background-color: #333;	
		height: auto;
		margin-left:auto;
		margin-right:auto;
		background: linear-gradient(rgba(77, 77, 77, 0.3),  #73536b, #dbdb74,  #ea954f, #ec857d); 
		/* Standard syntax (must be last) */
		background-attachment: scroll;
  }
	.container{
		width: 90%;
		background-color: #FFFFFF;
		margin-left: 5% !important;
		margin-right: 5% !important;
	}
 }